<% content_for :body_class, "scan" %>
<h1>Help Amy start a community veg patch in Harehills Park</h1>

<p>Amy is a Co-op member, and she’s starting a community garden near the playground.</p>

<p>Learn how to grow, meet your neighbours and get something good started in Harehills. Open to all.</p>
