<h1>
  What happens now
</h1>

<p>
  You've told us a bit about you and what you'd like to get started.
</p>

<p>
  Now we'll look for other people in [neighbourhood] who care about the same things as you, and see if you want to meet up.
</p>

<p>We'll also start researching your ideas, and see how we can help you take the first steps to making your vision a reality.
</p>

<p>
  Thank you for getting involved, we'll be in touch by email shortly.
</p>
