<h1>
  What happens now
</h1>

<p>
  You've told us a bit about you and what you'd like to get started.
</p>

<p>
  Now we're going to:
</p>
<ul>
  <li>
    look for other people in <%= @submission.location %> who care about the same things as you
  </li>
  <li>
    put you in touch (if you're happy with that)
  </li>
  <li>
    start researching your ideas and how we can help you take the first steps to making your vision a reality
  </li>
</ul>

<p>
  Thank you for getting involved, we'll be in touch by email shortly.
</p>
