<h1>
  What happens next
</h1>

<p>
  Now we know a bit more about you and what you'd like to do, we'll start looking for other people who are interested in the same kinds of things in your neighbourhood. We'll always check with you first to see if you are interested in meeting up.
</p>

<p>
  When we've found some like-minded people who live near you, we'll help you get together and support you to take the first steps to making your vision a reality.
</p>
