<h1>Make something good happen in your neighbourhood</h1>

<h2>
  Get connected to people in your&nbsp;area
</h2>

<p>
  Tell us what you want to do in your neighbourhood and we’ll find people who can help you.
<p>

<p>
  We’ll bring you together to acheive your goals &ndash; and help out along the way.
</p>

<section id="how-it-works">
  <div>
    <img src="<%= image_path 'logos/coop-logo.svg' %>" alt="Co-op">
    <p>
      Tell us the kind of things you’re interested in
    </p>
  </div>
  <div>
    <img src="<%= image_path 'logos/coop-logo.svg' %>" alt="Co-op">
    <p>
      We’ll find people with similar interests
    </p>
  </div>
  <div>
    <img src="<%= image_path 'logos/coop-logo.svg' %>" alt="Co-op">
    <p>
      We’ll help you make the first steps
    </p>
  </div>
</section>

<section id="neighbourhood-map">

  <div class="neighbourhood-where">
    <h2>
      Where do you want to make something happen?
    </h2>
    <p>
      This could be a district, a town, a village or street &ndash; it’s up to you.
    </p>
    <input type="text" name="" value="">
    <p class="helper-text">
      We use this information to find people nearby.
    </p>
    <%= button_to 'Go', get_started_path, class: 'btn btn-primary'%>
  </div>
</section>

<footer>
  <h2>Why Co-op?</h2>
  <p>
    Co-op has always stood for self-help and solidarity. It’s our job to find new ways to support people, so that they can build a better world - for themselves.
  </p>
</footer>
